<app-header></app-header>
<table>
<tr>
    <th>User ID</th>
    <th>ID</th>
    <th>Title</th>
    <th>Completed</th>


</tr>
<tr *ngFor="let myTodo of mytodoarray">

    <td>{{myTodo.userId}}</td>
    <td>{{myTodo.id}}</td>
    <td>{{myTodo.title}}</td>
    <td>{{myTodo.completed}}</td>

</tr>

</table>
<button type="button" >Push me later</button>

