<p>coursedetails works!</p>
<p>courses works!</p>
<app-header></app-header>
<table>
  <tr>
    <th>Department</th>
    <th>Course Number</th>
    <th>Course Name</th>
    <th>Instructor</th>
    <th>Start Date</th>
    <th>Days</th>
    <!-- <th>Course Details</th> -->
  </tr>

  <tr>
    <!-- details, so only one course
<tr *ngFor="let Course of myCourse"> -->

    <td>{{ myCourse.dept }}</td>
    <td>{{ myCourse.courseNum }}</td>
    <td>{{ myCourse.courseName }}</td>
    <td>{{ myCourse.instructor }}</td>
    <td>{{ myCourse.startDate }}</td>
    <td>{{ myCourse.numDays }}</td>
    <!-- <td ><a href="/coursedetails.html?courseid={{myCourse.id}}">See Details</a></td> -->
  </tr>
</table>
<button type="button">Push me later</button>
