<p>users works!</p>
<app-header></app-header>
<table>
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>User Name</th>
    <th>Title</th>
    <th>Email</th>
    <th>Street</th>


</tr>
<tr *ngFor="let myUser of myUsers">

    <td>{{myUser.id}}</td>
    <td>{{myUser.name}}</td>
    <td>{{myUser.username}}</td>
    <td>{{myUser.email}}</td>
    <td>{{myUser.address.street}}</td>
    <td>{{myUser.company.catchPhrase}}</td>

</tr>

</table>
<button type="button" >Push me later</button>

